.form-input input {
    box-sizing: border-box;
    width: 250px;
    height: 45px;
    left: 65px;
    top: 172px;
    border: 1px solid #D2DAE3;
    border-radius: 8px;
    padding: 6px;
}

.form-input select {
    box-sizing: border-box;
    width: 250px;
    height: 45px;
    left: 65px;
    top: 172px;
    border: 1px solid #D2DAE3;
    border-radius: 8px;
    padding: 6px;
}

.form h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #000000;
}

.form-label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: #000000;
    margin-top: 36px;
    margin-bottom: 10px;
}

.form-content-right {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* dropdown */